<h2 mat-dialog-title>Visualizar questão </h2>
<mat-dialog-content class="mat-typography">
  <h3>Instrução da questão (Opcional)</h3>
  <p>(UNICHRISTUS - CURSO DIREITO, 2014) Leia atentamente o texto abaixo e coloque V para as alternativas VERDADEIRAS e F para as FALSAS.</p>

  <h3>Texto base/Contexto</h3>
  <p>Assassino do cartunista Glauco é preso em Goiás por latrocínio.
    <br><br>
    Cadu Sundfeld Nunes é esquizofrênico. Ele matou Glauco Vilas Boas e o filho Raoni em 2010, em surto psicótico, que teria sido agravado por drogas.
    <br><br>
    A Polícia Civil de Goiás prendeu ontem Carlos Eduardo Sundfeld Nunes, de 28 anos, o “Cadu”, assassino confesso do cartunista Glauco Vilas Boas e do filho dele, Raoni Vilas Boas, em 2010. Cadu foi preso no final da manhã em Goiânia, segundo o delegado Murilo Polati Rechinelli, chefe da Divisão Estadual de Investigação de Homicídios. Ele é suspeito de ter cometido um latrocínio, roubo seguido de morte, e uma tentativa de latrocínio.
    <br><br>
    Em 2013, Cadu recebeu autorização da Justiça para deixar a clínica psiquiátrica onde estava internado e retornar para a casa de seus pais. Ele é esquizofrênico e, segundo a decisão do Judiciário na época, tinha condições de passar por tratamento ambulatorial fora da clínica. Também ontem à tarde, o suspeito foi ouvido pelo delegado responsável pelo caso, Thiago Damasceno, para apurar a real participação dele nos crimes.
    <br><br>
    “Eu tinha a placa e as características do Honda Civic que foi roubado no domingo, de um jovem de Goianésia. E hoje, dirigindo pela cidade, eu avistei esse carro e comecei a persegui-lo. Eu pedi ajuda de um guarda municipal. Ao perceber que estava sendo seguido, ele subiu na calçada e tentou fugir, mas acabou batendo no muro e foi rendido”, disse o delegado. A defesa do suspeito adiantou que ainda analisaria as circunstâncias da captura do cliente.
    <br>
    <br>O caso <br>
    <br><br>
    Glauco e Raoni foram mortos em março de 2010 em Osasco, na Região Metropolitana da capital paulista. Depois de ser reconhecido pela mulher de Glauco, uma das testemunhas do crime, Cadu confessou os assassinatos.
    <br><br>
    A investigação da Polícia apontou que ele estava em surto psicótico, que teria sido agravado pelo consumo de drogas. O contato de Cadu com a família ocorreu pela Igreja Céu de Maria, fundada pelo cartunista e que segue rituais do Santo Daime, entre eles um com o uso de chá alucinógeno.
    <br><br>
    O assassino confesso foi declarado inimputável, considerado não responsável pelos seus crimes, em 2011. A princípio, foi levado para um complexo médico penal no Paraná, e depois transferido para Goiânia. (da Folhapress)
    <br><br>
    http://www.opovo.com.br/app/opovo/brasil/2014/09/02/noticiasjornalbrasil,3307795/assassino-do-cartunistaglauco-e-preso-em-goias-por-latrocinio.shtml</p>

  <h3>Comando ou situação problema <br> </h3>

  <p>De acordo com o texto assinale V para as alternativas Verdadeiras e F para as falsas.</p>


  <h4>Afirmações</h4>
  <p> 
    a. (  ) A prisão de pessoa independentemente do devido processo legal é amparada pela primeira geração dos Direitos Humanos, vez que a mesma deve ser uma resposta da Sociedade ao incremento dos índices de criminalidade;
    <br>
    b. (  ) O lema da revolução francesa continua sendo insistentemente perseguido pela sociedade ocidental, muito embora não se aplicaria à parcela da população que se encontra abaixo da linha da miséria;
    <br>
    c. (  ) No Brasil, os Direitos Humanos foram recepcionados desde o descobrimento, fato que se depreende da maneira como negros e escravos foram tratados pelos colonizadores, correspondendo ao teor de leis como do Ventre Livre e Lei Áurea;
    <br>
    d. (  ) O fato do suspeito de prática de crimes ter confessado transfere para o Estado a tutela de sua integridade física e psíquica, mas no caso de Cadu não se aplica em razão de sua deficiência e, desse modo, a tortura pode ser aplicada a ele durante o inquérito policial;
    <br>
    e. (  ) Em função da falta de tutela efetiva ao deficiente psíquico, o mesmo pode cometer crimes e, assim, não ser responsabilizado, pois se aplica a ele o direito à liberdade incondicional;
    <br>
    f. (  ) A tutela do direito à vida de uns implica na restrição da liberdade de outros desde que sejam apurados os fatos, o nexo causal e os indícios que componham a autoria inequívoca e isso se refere à terceira geração dos Direitos Humanos;
    <br>
    g. (  ) Em casos como o acima mencionado não se reconhece nenhum dos direitos da personalidade, pois se trata de esfera pública e, portanto, as garantias devem ser flexibilizadas em favor do interesse da maioria;
    <br>
    h. (  ) A teoria dos Direitos Humanos se atualiza e se projeta nos conflitos do cotidiano e, dessa maneira, pode se afirmar a sua elasticidade;
    <br>
    i. (  ) Os problemas com a segurança pública tem colocado em xeque a teoria dos Direitos Humanos e tem despertado um clamor popular por vingança que vai de encontro à noção de Estado Democrático de Direito;
    <br>
    j. (  ) A estrutura conceitual do Estado é de natureza moderna, mas juntamente com a arqueologia das suas origens na Antiguidade, pode ser reconhecida igualmente a concessão de alguns direitos que tiveram inicialmente a denominação de direitos do homem, passando a ser posteriormente chamados de direitos dimensionais.</p>


</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Fechar</button>
</mat-dialog-actions>
